body, html {
  margin: 0px;
  padding: 30px 0px 0px 0px;
  display: flex; 
  flex-direction: column; 
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  background-color: rgb(49, 4, 49);
}
  
section {
  height: 100%;
  width: 100%;
}

.tittle {
  text-align: center;
	font-weight: 1000;
	text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(121, 32, 121);
  text-shadow: 1px 1px darkslategrey;
  padding-top: 20px;
}

/* ------------------------------- Home Section ---------------------------------- */
#homeSec {
  background-image: linear-gradient(rgba(233, 240, 239, 0.9), rgba(233, 240, 239, 0.2), rgba(233, 240, 239, 0.9))
                  , url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  min-height: 400px;
}

.picMe {
  float: left;
  shape-outside: circle(50%);
  inline-size: 175px;
  border-radius: 50%;
  border: 2px solid rgb(43, 2, 43, 0.5);
  box-shadow: 0 1px 10px 2px rgb(182, 134, 182);
  margin: 3% 20px 1% 3%;
}

/* Transparent Box w/Text */

.transbox {
  max-width: 725px;
  min-width: 190px;
  background-color: rgba(231, 218, 231, 0.85);
  border: 2px solid rgb(190, 115, 190);
  border-radius: 6px;
  box-shadow: 0 2px 15px 5px rgb(182, 134, 182);
  margin: auto; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transbox p {
  margin: 5%;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0px 0px 1px rgb(200, 247, 247);
  letter-spacing: 1px;
  color: black;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}

.transbox h2 {
  text-align: center;
  color: black;
}

@media screen and (max-width: 768px){
  #homeSec {
    min-height: 600px;
  }
  .transbox {
   margin: 0 20px;
  }
}

/* -------------------------- webDevJourney Section ------------------------------ */
#webDevJourney {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9))
                  , url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
  background-size: cover;
  background-position: center center; 
  min-height: 590px;
}

.webDevWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  margin: auto; 
  padding: 0 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.webDev {
  margin: auto;
  padding: 2% 4% 4% 4%;
  height: 450px;
  width: 350px;
}

.twitter-timeline {
  border: 2px solid rgb(190, 115, 190)!important;
  border-radius: 6px;
  box-shadow: 0 2px 15px 5px rgb(182, 134, 182);
  margin: auto !important;
  height: 475px !important;
  width: 350px !important;
}

@media screen and (max-width: 950px){
  #webDevJourney {
    min-height: 900px ;
  }
  .webDevWrapper{
  display: grid;
  grid-template-columns: none;
  grid-row-gap: 35px;
  justify-items: center;
}

  .webDev {
    padding: 2% 4% 4% 4%;
    height: auto;
    max-width: 550px;
  }
  
  .twitter-timeline {
    height: 300px !important;
    width: 400px !important;
  }
}

@media screen and (max-width: 460px){
  #webDevJourney {
    min-height: 1500px ;
  }
  .webDevWrapper{
  display: grid;
  grid-template-columns: none;
  grid-row-gap: 35px;
  justify-items: center;
}

  .webDev {
    padding: 2% 4% 4% 4%;
    height: auto;
    width: 200px;
  }
  
  .twitter-timeline {
    height: 550px !important;
    width: 240px !important;
  }
}
/* ------------------------- Background Section -------------------------- */
#background {
  background-image: linear-gradient(rgba(233, 240, 239, 0.9), rgba(233, 240, 239, 0.2), rgba(233, 240, 239, 0.9))
                  , url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
  background-size: cover;
  background-position: center center; 
  min-height: 600px;
}

@media screen and (max-width: 768px){
  #background{
    min-height: 1400px;
  }
  .transbox {
   margin: 0 15px;
  }
}


/* --------------------------- Projects Section -------------------------- */
#projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9))
                  , url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
  background-size: cover;
  background-position: center center; 
  min-height: 600px;
} 

.tittle.projects {
  text-shadow: 1px 1px rgb(219, 177, 219);
}

.wrapperProjects {
  max-width: 1200px;
  min-width: 500px;
  margin: auto;
}
.wrapperGiphy {
  display: flex;
  flex-flow: row wrap;
  margin: 25px;
  /* justify-content: space-around; */
}
.giphy {
  background-color: rgba(231, 218, 231, 0.85);
  border: 2px solid rgb(190, 115, 190);
  border-radius: 6px;
  box-shadow: 0 2px 15px 5px rgb(182, 134, 182);
  margin: 30px;
  flex: 1;
  /* width: calc((100%/3)-20px); */
  padding: 0px 5px 10px 5px;
  text-align: center;
}


@media (max-width: 1200px) {
  #projects {
    min-height: 850px;
  }
}

@media (max-width: 850px) {
  #projects {
    min-height: 1300px;
  }
}

/* ------------------------- contactMe Section --------------------------- */

#contactMe {
  background-image: linear-gradient(rgba(233, 240, 239, 0.9), rgba(233, 240, 239, 0.2), rgba(233, 240, 239, 0.9))
                  , url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 950px;
}

ul {
  list-style: none;
  padding: 0;
}

.tittle {
  text-align: center;
	font-weight: 1000;
	text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(121, 32, 121);
  text-shadow: 1px 1px darkslategrey;
  padding-top: 20px;
}

.wrapper {
  border: 4px solid rgb(190, 115, 190);
  border-radius: 8px;
  box-shadow: 0 2px 15px 5px rgb(182, 134, 182);
  margin: 0 auto;
  max-width: 80%;
}

/* myInfo and social media */

.myInfo {
  background: grey;
  opacity: 0.85;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5%;
}

.myInfo h3, .myInfo ul {
  text-align: center;
  margin: 1rem 0 1rem 0;
  text-shadow: 1px 1px darkslategrey;
}

.myInfo .socialMediaList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa, .fas {
  color: rgb(121, 32, 121);
  padding-right: 5px;
}

.fa-linkedin {
  text-shadow: 1px 1px whitesmoke;
  color: #0976b4;
}
.fa-github {
  text-shadow: 1px 1px whitesmoke;
  color: darkslategrey;
}
.fa-twitter {
  text-shadow: 1px 1px whitesmoke;
  color: #55acee;
}
.fa-at {
  text-shadow: 1px 1px whitesmoke;
  color: grey;
}

.socialMedia-icon i:hover{
  transform: scale(1.4);
  transition: transform 2s;
}

/* CONTACT FORM */

.contactForm {
  background-color: rgba(231, 218, 231, 0.85);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 0;
  padding: 5%;
}

.contactForm p {
  margin: 0;
}

.contactForm .full {
  grid-column: 1 / 3;
}

.contactForm .left {
  grid-column: 1 / 2;
}

.contactForm .right {
  grid-column: 2 / 3;
}

.contactForm button,
.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px rgb(121, 32, 121);
  border-radius: 4px;
}

.contactForm textarea {
  resize: none;
}

.contactForm button {
  background: rgb(121, 32, 121);
  border: 0;
  color: rgb(231, 218, 231);
  text-shadow: 1px 1px rgb(194, 146, 194);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contactForm button:hover,
.contactForm button:focus {
  background: rgba(194, 146, 194, 0.5);
  color: rgb(121, 32, 121);
  text-shadow: 1px 1px rgb(194, 146, 194);
  border: solid 1px rgb(121, 32, 121);
  outline: 0;
  transition: background-color 2s ease-out;
}

@media only screen and (min-width: 1250px) {
  .wrapper {
    max-width: 70%;
  }
}

@media only screen and (min-width: 700px) {
  #contactMe {
    min-height: 675px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
  }

  .myInfo {
    border-radius: 4px 0 0 4px;
  }

  .contactForm {
    border-radius: 0 4px 4px 0;
  } 
}

/* ----------------------------------------------- NavBar ------------------------------------------------------ */
nav {
  position: fixed;
  z-index: 99999999;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(121, 32, 121);
  font-family: 'Exo 2', sans-serif;
  /* -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999; */
  box-shadow: 0 2px 20px 1px rgb(200, 247, 247);
}

.darkShadow {
  box-shadow: 0 2px 20px 1px rgb(50, 97, 97);
}

.logo {
  color: rgb(230, 214, 228);
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgb(200, 247, 247);
  letter-spacing: 4px;
  font-size: 20px;
  margin-left: 1%; 
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 48%;
}

.nav-links  li{
  list-style: none;
}

.nav-links a {
  /* float: left; */
  display: block;
  color: rgb(230, 214, 228);
  text-align: center;
  padding: 22px 10px;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  background: #ddd;
  color: black;
}
.nav-links a:active {
  background: #ddd;
  color: black;
}

.burger{
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: rgb(230, 214, 228);
  box-shadow: 0px 0px 3px rgb(200, 247, 247);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 950px){
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 300px;
    width: 200px;
    top: 45px;
    background-color: rgb(121, 32, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
  }
  .nav-links a {
    /* float: left; */
    display: block;
    color: rgb(230, 214, 228);
    text-align: center;
    padding: 0px 20px 0px 0px;
    font-size: 17px; 
  }
  .nav-links a:hover {
    background: none;
    color: black;
    text-shadow: 1px 1px grey;
    transform: scale(1.2);
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .logo {
    margin-left: 1%;
  }
}

.nav-active {
  transform:translateX(0%)
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Turn burger lines into an X */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------- footer Section --------------------------- */

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top:auto; 
  display: block;
  justify-content: space-between;
  background-color: rgb(171, 82, 171);
  color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
  box-shadow: 0 2px 20px 1px rgb(200, 247, 247);
}

.footerStart {
  color: rgb(230, 214, 228);
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgb(200, 147, 200);
  letter-spacing: 4px;
}

footer .aroundTheWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer .socialMedia-icon i {
  border: 1px solid rgb(200, 147, 200);
  border-radius: 50%;
  margin: 0 10px;
  padding: 7px;
  background-color: rgb(230, 214, 228);
}

.footerEnd {
  background-color: rgb(121, 32, 121);
  padding: 10px;
}