html, body {
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
  }
  
.section {
  height: 100%;
}

/* Background look for all pages*/
#homeSec {
  /* background-image: url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg') */
  /* background-image: url('https://i.postimg.cc/J4Xy3vzR/autumn-2918906-1280.jpg'); */
  /* background-image: url('https://i.postimg.cc/G2Wjzf6G/background-1747785-1280.jpg'); */
  background-image: url('https://i.postimg.cc/J0wXDpTn/data-4180250-1280.jpg');
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}

.picMe {
  float: left;
  shape-outside: circle(50%);
  inline-size: 150px;
  border-radius: 50%;
  border: 2px solid rgb(43, 2, 43, 0.5);
  box-shadow: 0 1px 10px 2px rgb(182, 134, 182);
  margin: 5% 3% 1% 5%;
}

#home {
  padding-top: 8vh;
}
#webDevJourney {
  padding-top: 8vh;
  background-color: rgb(0,0,0,0.9);
  color: white;
}
#background {
  padding-top: 8vh;
  background-image: url('https://i.postimg.cc/gJSWZzZN/abstraction-3527172-1280.jpg');
}
#projects {
  padding-top: 8vh;
}
#contactMe {
  padding-top: 8vh;
}

/* Transparent Box w/Text */
.transbox {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(231, 218, 231, 0.85);
  border: 2px solid rgb(43, 2, 43);
  box-shadow: 0 2px 15px 5px rgb(182, 134, 182);
}

.transbox p {
  margin: 5%;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0px 0px 1px rgb(200, 247, 247);
  letter-spacing: 1px;
  color: black;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}

.transbox h2 {
  text-align: center;
}

/* NavBar */
nav {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgb(121, 32, 121);
  font-family: 'Exo 2', sans-serif;
  /* -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999; */
  box-shadow: 0 2px 20px 1px rgb(200, 247, 247);
}

.logo {
  color: rgb(230, 214, 228);
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgb(200, 247, 247);
  letter-spacing: 4px;
  font-size: 20px;
  margin-left: 1%; 
}
/* To display items in list one beside the other */
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 48%;
}
/* To get rid of the bullet points on the navbar/list */
.nav-links  li{
  list-style: none;
}

/* To get rid of the line on the text in navbar and more  */

.nav-links a {
  /* float: left; */
  display: block;
  color: rgb(230, 214, 228);
  text-align: center;
  padding: 18px 10px;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  background: #ddd;
  color: black;
}
.nav-links a:active {
  background: #ddd;
  color: black;
}

.burger{
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: rgb(230, 214, 228);
  box-shadow: 0px 0px 3px rgb(200, 247, 247);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 950px){
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden;
  }
  .transbox {
    margin: 60px 50px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90.5vh;
    width: 100vw;
    top: 6vh;
    background-color: rgb(121, 32, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    /* display: block; */
    padding: 5vh 5vw;
    font-size: 17px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .logo {
    margin-left: 1%;
  }
}

.nav-active {
  transform:translateX(0%)
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Turn burger lines into an X */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* CSS for the Contact Area */

.contactMe .split {
  height: 100%;
  width: 50%;
  /* position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px; */
}
.contactMe .left {
  left: 0;
  background-color: green;
}
.contactMe .right {
  right: 0;
  background-color:white;
}
.contactMe .centered {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
